<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MinLexinApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4504EE12463EC8F0077F3AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4504EF72463EC9C0077F3AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4504F022463EC9C0077F3AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
